---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <div>
    <p>Showing <span id="displayed">{{ site.posts | size }}</span> of {{ site.posts | size }}</p>
    <p>Filter by category:</p>
    <div style="line-height: 35px">
      {% for c in site.categories %}
      <input type="checkbox" data-category="{{c | first}}" id="{{c | first}}-check" onchange="displayFiltered()"/><label for="{{c | first}}-check">{{c | first}}</label>
      {% endfor %}
    </div>
  </div>
  <br />

  <ul class="post-list">
    {% for post in site.posts %}
      <li class="post-head" data-categories="{%for category in post.categories %}{{category}} {% endfor %}">
          <a href="{{ post.url | prepend: site.baseurl }}">

        <h2>
          <span class="post-link">{{ post.title }}</span>
        </h2>

        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        {%for category in post.categories %}
          <span style="color: black;">/{{category}} </span>
        {% endfor %}

        </a>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>

<script type="text/javascript">
  var findSelectedItems = function() {
    var allTypes = document.getElementsByTagName('input');
    var which = [];
    for (var i = 0; i < allTypes.length; i++) {
      if (allTypes[i].checked) {
        which.push(allTypes[i].getAttribute('data-category'));
      }
    };
    return which;
  };

  var countDisplayed = function() {
    document.getElementById('displayed').innerHTML = document.querySelectorAll('li.post-head.show').length;
  };

  var displayFiltered = function() {
    var itemsToShow = findSelectedItems();
    // Go through all li's and decide whether to show or hide depending on whether it's in the itemsToShow array
    var allItems = document.querySelectorAll('li.post-head');
    // if none are checked, show everything again
    if (itemsToShow.length == 0) {
      for (var l = 0; l < allItems.length; l++) {
        allItems[l].className = "post-head show";
      }
    } else {
      for (var i = 0; i < allItems.length; i++) {
        allItems[i].className = "post-head";
        // Account for items with more than one category
        types = allItems[i].getAttribute('data-categories').split(" ");
        for (var j = 0; j < types.length; j++) {
          if (itemsToShow.indexOf(types[j]) != -1) {
            allItems[i].className = "post-head show";
            break;
          } else {
            allItems[i].className = "post-head hide";
          }
        }
      }
    }
    countDisplayed();
  };
</script>
