---
layout: default
---

<div class="home">

    <div class="c-filter__container">
        <p class="c-filter__total">Showing <span class="js-posts-displayed">{{ site.posts | size }}</span> of {{ site.posts | size }}</p>
        <p>Filter by category:</p>
        <div class="c-filter__category-row">
            {% for category in site.categories %}
                {% unless category.first == "interesting" %}
                <input type="checkbox" class="c-filter__input js-category" data-category="{{category | first}}" id="{{category | first}}-check" onchange="displayFiltered()" />
                <label class="c-filter__category-label" itemprop="keywords" for="{{category | first}}-check">{{category | first}}</label>
                {% endunless %}
            {% endfor %}
        </div>
    </div>

    <div class="posts" itemscope itemtype="http://schema.org/Blog">
        {% for post in site.posts %}
            {% unless post.categories contains "interesting" %}
            <div class="post py3 js-post" data-categories="{% for category in post.categories %}{{category}} {% endfor %}" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
                <p class="post-meta" itemprop="datePublished">
                    {{ post.date | date: site.date_format }}
                    {% for category in post.categories %}
                        <span style="color: #454545;">/{{category}}&nbsp;</span>
                    {% endfor %}
                </p>
                <a href="{{ post.url | prepend: site.baseurl }}" class="post-link" itemprop="url">
                    <h2 class="h1 post-title" itemprop="name">{{ post.title }}</h2>
                </a>
                <p class="post-summary" itemprop="description">
                    {{ post.summary }}
                </p>
            </div>
            {% endunless %}
        {% endfor %}
    </div>
</div>

<script type="text/javascript" src="./js/filter.js"></script>