.highlight {
    -webkit-text-size-adjust: none;
}

.highlight .c,
.highlight .c1,
.highlight .cm,
.highlight .cp,
.highlight .cs {
    color: $hljs-comment;
    font-style: italic;
}

.highlight .k,
.highlight .kc,
.highlight .kd,
.highlight .kn,
.highlight .kp,
.highlight .kr,
.highlight .kt {
    color: $hljs-keyword;
}

.highlight .na,
.highlight .nb,
.highlight .nc,
.highlight .nd,
.highlight .ne,
.highlight .nf,
.highlight .ni,
.highlight .nl,
.highlight .nn,
.highlight .no,
.highlight .nx {
    color: $hljs-name;
}

.highlight .il,
.highlight .mi {
    color: $hljs-number;
}

.highlight .s,
.highlight .s1,
.highlight .s2,
.highlight .s3,
.highlight .sb,
.highlight .sc,
.highlight .sd,
.highlight .sh,
.highlight .si,
.highlight .sr,
.highlight .ss,
.highlight .sx {
    color: $hljs-string;
}

.hljs-id,
.hljs-title,
.scss .hljs-preprocessor {
    color: $hljs-title;
    font-weight: bold;
}

.highlight .k {
    font-weight: normal;
}

.highlight .nc,
.highlight .no {
    color: $hljs-type;
}

.highlight .o {
    color: $hljs-tag;
    font-weight: normal;
}

.highlight .nb {
    color: $hljs-attribute;
}

.highlight .sr {
    color: $hljs-regexp;
}

.highlight .ss {
    color: $hljs-symbol;
}

.hljs-built_in {
    color: $hljs-built-in;
}

.hljs-cdata,
.hljs-doctype,
.hljs-pi,
.hljs-pragma,
.hljs-preprocessor,
.hljs-shebang {
    color: $hljs-preprocessor;
    font-weight: bold;
}

.hljs-deletion {
    background-color: $hljs-deletion;
}

.hljs-addition {
    background-color: $hljs-addition;
}

.diff .hljs-change {
    background-color: $hljs-change;
}

.hljs-chunk {
    color: $hljs-chunk;
}
