<div class="social-icons">
    <div class="social-icons-left">
        <a class="fa fa-github" href="https://github.com/{{ site.github_username }}"></a>
        <a class="fa fa-rss" href="{{ " /feed.xml " | prepend: site.baseurl }}"></a>
        <a class="fa fa-instagram" href=https://instagram.com/flynner__></a>
        <a class="fa fa-twitter" href="https://twitter.com/{{ site.twitter_username }}"></a>
        <a class="fa fa-linkedin-square" href="http://uk.linkedin.com/in/claireparker2"></a>
    </div>
</div>
<div class="clearfix"></div>