.c-filter__container {
    font-style: italic;
    margin-bottom: 20px;
}

.c-filter__total {
    font-weight: 700;
    float: right;
}

.c-filter__input {
    display: none;

    &:checked + .c-filter__category-label {
        background-color: $light-gray;
        color: $dark-gray;
    }
}

.c-filter__category-row {
    line-height: 30px;
}

.c-filter__category-label {
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid $dark-gray;
    padding: 4px 10px;
    margin: 5px;
    line-height: 40px;

    &:hover {
        background-color: $mid-gray;
        color: #fff;
    }
}

$expand-trans: max-height 2s ease;
$collapse-trans: max-height 2s cubic-bezier(0, 1, 0, 1);

.animate-post {
    overflow: hidden;
    max-height: 0;

    -webkit-transition: $collapse-trans;
    -moz-transition: $collapse-trans;
    -o-transition: $collapse-trans;
    transition: $collapse-trans;
}

.show-post {
    max-height: 500px;
    -webkit-transition: $expand-trans;
    -moz-transition: $expand-trans;
    -o-transition: $expand-trans;
    transition: $expand-trans;
}
