.site-header {
    padding-top: $space-3;
    padding-bottom: $space-2;
}

.site-header a {
    color: #333;
    font-size: $h3;
    font-weight: 300;
    background-image: none;
}

.site-header .site-title {
    font-family: $font-family;
    font-size: $h2;
}

.site-nav {
    margin-top: $space-2;
}

.site-header nav a {
    color: #666;
}

.site-header nav a:active,
.site-header nav a:focus,
.site-header nav a:hover {
    color: #444;
    opacity: 1;
    border-bottom: 2px solid #444;
}

.site-nav a + a {
    margin-left: 1em;
}

.c-posts .c-post a:hover .c-post__title,
.site-header a:hover {
    opacity: 0.78;
}

.site-header {
    text-align: center;
}

.site-header .site-nav {
    text-align: center;
}

.site-header .fa {
    font-size: 30px;
}
