.c-interesting {
    padding-left: 0;
}
.c-interesting__post {
    list-style: none;
    margin-bottom: 10px;
}
.c-interesting__date {
    
}
.c-interesting__list {
    
}
.c-interesting__interest {
    
}

