a {
    color: $link-color;
    text-shadow: white 1px 0 0, white -1px 0 0;
}

a:active,
a:focus,
a:hover {
    border: 0;
    color: $link-hover-color;
    text-decoration: none;
    text-shadow: white 1px 0 0, white -1px 0 0;
}
// Correct issues with buttons
.button,
button {
    text-shadow: none;
    background-image: none;
}

.button:active,
.button:focus,
.button:hover {
    color: white;
    text-shadow: none;
    background-image: none;
}

.anchorjs-link {
    text-shadow: none;
    background-image: none;
}

.anchorjs-link:active,
.anchorjs-link:focus,
.anchorjs-link:hover {
    border: 0;
    color: $link-hover-color;
    text-shadow: none;
    background-image: none;
}
