.it-me {
    text-align: center;
    font-style: italic;
}

.profile-image-container {
    float: right;
    margin-bottom: 20px;
    height: 100px;
    width: 100px;
}

@media screen and (min-width: $viewport-small) {
    .profile-image-container {
        height: 200px;
        width: 200px;
        margin-left: 10px;
    }
}