<ul class="c-interesting">
    <li class="c-interesting__post">
        <h2 class="c-interesting__date">Nov 20, 2017</h2>
        <ul class="c-interesting__list">
            <li class="c-interesting__interest">
                <p>Using sass-lint - specifically to make me use more variables</p>
            </li>
            <li class="c-interesting__interest">
                <p>Using codepens as demos of CSS properties, e.g. <a href="https://codepen.io/claireparker/pen/jwggmJ">https://codepen.io/claireparker/pen/jwggmJ</a></p>
            </li>
            <li class="c-interesting__interest">
                <p>Playing with Voiceover on Mac</p>
            </li>
        </ul>
    </li>
</ul>