<ul class="c-interesting">
    <li><span>Nov 20, 2017</span>
        <ul>
            <li>
                <p>Using sass-lint - specifically to make me use more variables</p>
            </li>
            <li>
                <p>Using codepens as demos of CSS properties, e.g. <a href="https://codepen.io/claireparker/pen/jwggmJ">https://codepen.io/claireparker/pen/jwggmJ</a> or <a href="https://codepen.io/claireparker/pen/POjKXY">https://codepen.io/claireparker/pen/POjKXY</a></p>
            </li>
            <li>
                <p>Playing with Voiceover on Mac</p>
            </li>
        </ul>
    </li>
</ul>