<div class="c-social-icons">
    <a class="c-social-icons__link" href="javascript:void(0)">
        <span class="c-social-icons__font-icon fa fa-github" aria-hidden="true"></span>
        <span class="c-social-icons__screenreader_label">Go to my Github profile</span>
    </a>
    <a class="c-social-icons__link" href="javascript:void(0)" /feed.xml " | prepend: site.baseurl }}">
        <span class="c-social-icons__font-icon fa fa-rss" aria-hidden="true"></span>
        <span class="c-social-icons__screenreader_label">Subscribe to my RSS feed</span>
    </a>
    <a class="c-social-icons__link" href="javascript:void(0)">
        <span class="c-social-icons__font-icon fa fa-instagram" aria-hidden="true"></span>
        <span class="c-social-icons__screenreader_label">Go to my Instagram profile</span>
    </a>
    <a class="c-social-icons__link" href="javascript:void(0)">
        <span class="c-social-icons__font-icon fa fa-twitter" aria-hidden="true"></span>
        <span class="c-social-icons__screenreader_label">Go to my Twitter feed</span>
    </a>
    <a class="c-social-icons__link" href="javascript:void(0)">
        <span class="c-social-icons__font-icon fa fa-linkedin-square" aria-hidden="true"></span>
        <span class="c-social-icons__screenreader_label">Go to my LinkedIn profile</span>
    </a>
</div>
<div class="clearfix"></div>